.page-layout-wrapper {
    display: flex;
    align-items: flex-start;
    column-gap: 1.5rem;
}

app-side-menu {
    width: 24%;
}

app-recipes {
    width: 70%;
}

app-users-table,
app-favourites {
    margin: 2rem auto;
    width: 70%;
}

app-footer {
    display: block;
}
