* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    width: 100%;
    background-color: black;
    padding: 1rem;
}

main {
    width: 90%;
    /* height: 100%; */
    margin: 2rem auto;
    min-height: 80vh;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: blueviolet;
}

/* Header */

/* Navagation menu */

nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    color: silver;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

#nav1 {
    flex-direction: row;
    justify-content: flex-start;
    /* width: 40%; */
}

#nav2 {
    flex-direction: row;
    justify-content: flex-end;
    /* margin-left: auto; */
    /* width: 30%; */
}

nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3rem;
    padding: 6px 10px;
    border: 1px solid silver;
    border-radius: 25px;
    color: silver;
    border-collapse: separate;
    margin: 0 0.6rem;
    list-style: none;
    font-size: 1.2em;
}

nav li:hover {
    cursor: pointer;
    color: turquoise;
    background-color:  rgba(50, 50, 50, 0.6);
    box-shadow: 0 0 6px 4px turquoise;
}

#sign-up {
    border: 3px solid silver;
    color: silver;
    background-color: blue;
}

#sign-up:hover {
    color: turquoise;
}

h1, p#motto {
    display: block;
    text-align: center;
    padding-top: 3rem;
    color: silver;
    font-size: 4em;
}

p#motto {
    padding: 1rem;
    font-size: 2em;
}

h2 {
    display: block;
    text-align: center;
    /* margin: 3rem; */
    padding: 1.5rem;
}


/* HOMEPAGE */

/* Banner */

.banner {
    position: relative;
    margin: 0 auto 3rem;
    width: 60%;
}

#banner-img {
    display: block;
    border-radius: 25px;
    width: 100%;
}

#img-text {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 100;
    color: whitesmoke;
    font-size: 2.6em;
    font-weight: bold;
    width: 40%;
    background-color: rgba(50, 50, 50, 0.2);
}


/* MAIN SECTION */

/* Side menu */

#side-menu {
    display: inline-block;
    position: relative;
    width: 24%;
    background-color: blueviolet;
}

#menu-title {
    font-size: 1.85em;
}

#toggle-button {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.66em;
}

#cuisine-genres {
    margin: 1.85rem 2.5rem;
    list-style: none;
}

#cuisine-genres.minus {
    visibility: visible;
}

#cuisine-genres.plus {
    visibility: hidden;
}

.filter-btn, #show-all {
    all: unset;
    cursor: pointer;
    /* list-style: none; */
    width: 90%;
    font-size: 1.4em;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    margin-left: 1rem;
}

.filter-btn:hover, #show-all:hover {
    background-color: rgba(50, 50, 50, 0.2);
}


/* Recipe list */

#recipe-list-container {
    display: inline-block;
    width: 70%;
    margin: 0 auto;
}

#recipe-list {
    display: grid;
    /* grid-template-columns: 200px 200px; */
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
    gap: 5rem;
    /* column-gap: 10px;
    row-gap: 10px; */
    justify-items: center;
    align-items: center;
    background-color: beige;
}

.recipe-box {
    position: relative;
    height: 19.85rem;
    width: 22rem;
    background-color: aqua;
}

.recipe-title {
    position: absolute;
    font-size: 1.25em;
    top: 2.5%;
    left: 5%;
    width: 66%;
    /* margin-bottom: 1rem; */
}

.heart {
    position: absolute;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 1.5em;
    top: 2.5%;
    right: 5%;
}

.heart:hover {
    background-color: whitesmoke;
    border-radius: 10px;
}

.recipe-box img {
    position: absolute;
    left: 50%;
    bottom: 6%;
    transform: translate(-50%, -8%);
    width: 90%;
    font-size: 1.5em;
    border-radius: 25px;

    height: 66%;
    margin-bottom: 1rem;
}

.author {
    position: absolute;
    left: 5%;
    bottom: 2%;
}

.view-recipe {
    position: absolute;
    right: 5%;
    bottom: 4%;
    background-color: #2b58d4;
    cursor: pointer;
    padding: 0.3rem;
    border-radius: 5px;
    color: white;
    border: none;
    width: 15%;
    height: 8%;
}

.view-recipe:hover {
    box-shadow: 0 0 6px 2px #2b58d4;
}


/* Subscribe section */

#subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-content: space-between; */
    flex-direction: column;
    gap: 2rem;
    height: 17rem;
    width: 66%;
    margin: 4rem auto;
    border-radius: 25px;
    background-color: orangered;
}

#subscribe div {
    width: 66%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
}

#subscribe-text {
    width: unset;
    font-style: italic;
    font-size: 1.6em;
}

#subscribe div input {
    width: 60%;
    border-radius: 25px;
}

#subscribe div button {
    border-radius: 25px;
    width: 6rem;
    height: 2.5rem;
}


/* LOGIN PAGE */

#log-in-main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


/* Forms */

.forms {
    /* display: flex;
    flex-direction: column; */
    width: 30rem;
    margin: 0 auto;
    background-color: aqua;
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 6px 6px aqua;
    padding: 1rem;

}

fieldset {
    border: 2px solid silver;
    padding: 1rem;
    margin: 1rem auto;
}

.info {
    /* padding: 0 0.5rem; */
    margin-bottom: 0.15rem;
}

.forms label, input, textarea, p, .error {
    display: block;
    width: 100%;
    /* margin-bottom: 0.15rem; */
    padding: 0.6rem;
    border-radius: 14px;
}

textarea {
    max-width: 100%;
    min-height: 10rem;
}

.additional-info label, input {
    display: inline;
}

input[type="checkbox"], input[type="radio"], input[type="select"] {
    margin: 0 0.2rem;
    padding: 0.6rem;
    width: unset;
    display: inline;
}

form input:focus, textarea:focus {
    outline: none
}

.info.success input,
.info.success textarea {
    border-color: rgb(47, 255, 64);
}

.info.failure input,
.info.failure textarea {
    border-color: crimson;
}

.error {
    color: crimson;
    font-size: 0.85em;
    visibility: hidden
}

.info.success .error {
    visibility: hidden;
}

.info.failure .error {
    visibility: visible;
}

.submit-btn, #join-us-btn {
    display: block;
    width: 6rem;
    height: 2.5rem;
    margin: 0.5rem auto;
    text-align: center;
    color: white;
    align-items: center;
    padding: 0.5rem;
    font-size: 1em;
    background-color: blue;
    border: none;
    border-radius: 14px;

    a {
        color: white;
    }

}

.submit-btn:hover, #join-us-btn:hover {
    box-shadow: 0 0 6px 4px rgb(0, 89, 255);
}


/* Footer */

footer {
    bottom: 0;
    width: 100%;
    margin-top: 4rem;
    padding: 1.5em;
    text-align: center;
    background-color: aqua;
}