<header>
    <nav>
        <ul id="nav1">
            <a routerLink="/" target="_blank">
                <li>Home</li>
            </a>
            <a routerLink="/favourites" target="_blank">
                <li>Favourites ❤️</li>
            </a>
            <a routerLink="/add-recipe" target="_blank">
                <li>Add recipe ➕</li>
            </a>
            <a routerLink="/contact" target="_blank">
                <li>Contact</li>
            </a>
        </ul>
        <ul id="nav2">
            <a routerLink="/sign-in" target="_blank">
                <li>Sign in</li>
            </a>
            <a routerLink="/sign-up" target="_blank">
                <li id="sign-up">Sign up</li>
            </a>
        </ul>
    </nav>
    <h1>CUCINA</h1>
    <p id="motto">Let's cook together! 🍝</p>
</header>