<header>
    <nav>
        <ul id="nav1">
            <a routerLink="">
                <li>Home</li>
            </a>
            <a routerLink="/favourites">
                <li>Favourites ❤️</li>
            </a>
            <a routerLink="/add-recipe">
                <li>Add recipe ➕</li>
            </a>
            <a routerLink="/contact">
                <li>Contact</li>
            </a>
        </ul>
        <ul id="nav2">
            @if (getConnectedUser()) {
                <p id="greetings">Hi! Welcome, {{getConnectedUser().firstName}}</p>
                <a routerLink="/log-in" (click)="logOut()">
                    <li>Logout</li>
                </a>
            }
            @else if (!getConnectedUser()) {
                <a routerLink="/log-in">
                    <li>Login</li>
                </a>
                <a routerLink="/sign-up">
                    <li id="sign-up-btn">Sign up</li>
                </a>
            }
            @if (getConnectedUser().admin) {
                <a routerLink="/admin">
                    <li id="admin-btn">Admin</li>
                </a>
            }
        </ul>
    </nav>
    <h1>CUCINA</h1>
    <p id="motto">Let's cook together! 🍝</p>
</header>