<header>
    <nav role="navigation" class="hidden">

        <button id="toggle-main-menu" aria-label="Menu" aria-expanded="false" aria-controls="nav1 nav2">
            <div class="line" id="l1"></div>
            <div class="line" id="l2"></div>
            <div class="line" id="l3"></div>
        </button>

        <ul id="nav1" aria-label="main menu">
            <li><button><a routerLink="">
                Home
            </a></button></li>
            <li><button><a routerLink="/favourites">
                Favourites ❤️
            </a></button></li>
            <li><button><a routerLink="/add-recipe">
                Add recipe ➕
            </a></button></li>
            <li><button><a routerLink="/contact">
                Contact
            </a></button></li>
        </ul>
        <ul id="nav2" aria-label="sign in or login menu">
            @if (getConnectedUser()) {
                <p id="greetings">Hi! Welcome, {{getConnectedUser().firstName}}</p>
                <li><button><a routerLink="/log-in" (click)="logOut()">
                    Logout
                </a></button></li>
            }
            @else if (!getConnectedUser()) {
                <li><button><a routerLink="/log-in">
                    Login
                </a></button></li>
                <li><button id="sign-up-btn"><a routerLink="/sign-up">
                    Sign up
                </a></button></li>
            }
            @if (getConnectedUser()?.admin) {
                <li><button id="admin-btn"><a routerLink="/admin">
                    <li >Admin</li>
                </a></button></li>
            }
        </ul>
    </nav>
    <h1>CUCINA</h1>
    <p id="motto">Let's cook together! 🍝</p>
</header>