<section id="recipe-list-container">

    <h2>Our recipes</h2>

    <div class="search-bar-container">
        <input type="text" placeholder="Search..." (input)="search($event.target.value)">
    </div>

    <div class="recipe-list">

        @for (recipe of filteredRecipes; track recipe.id) {
        <div class="recipe-box">
            <img [src]="recipe.imgSrc" alt="">
            <button class="heart" [attr.data-id]="recipe.id">🩶</button>
            <p class="recipe-title">{{recipe.name}}</p>
            <p class="author">By {{recipe.author}}</p>
            <button (click)="viewRecipeDetails(recipe.id)"class="view-recipe">View</button>
        </div>
        }

        @empty {
            <p>There are no recipes to display here</p>
        }
    
    </div>

</section>